.profile__author {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  column-gap: 18px;
  row-gap: 16px;
  width: 334px;
}

@media screen and (max-width: 709px) {
  .profile__author {
    justify-content: center;
    column-gap: 10px;
    row-gap: 14px;
  }
}