.popup_popup-picture {
  /*  visibility: hidden; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  transition: visibility .4s, opacity .4s ease;
}