.popup__body {
  /* margin: 195px auto 0; */
  box-sizing: border-box;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  padding-top: 34px;
  padding-left: 36px;
  padding-right: 36px;
  position: relative;
}

@media screen and (max-width: 482px) {
  .popup__body {
    margin-top: 123px;
    padding-top: 25px;
    width: 282px;
    height: 322px;
    padding-right: 22px;
    padding-left: 22px;
  }
}