  .button_location_popup_close {
    position: absolute;
    top: -40px;
    right: -40px;
  }
  
  .button_location_popup_close {
    opacity: 60%;
  }
  
  @media screen and (max-width: 550px) {
    .button_location_popup_close {
      right: 0px;
    }
  }