.profile__cards {
  margin: 0;
  display: flex;
  padding: 0px;
  /* list-style-type: none; */
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 709px) {
  .profile__cards {
    flex-direction: column;
  }
}