.footer {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 67px;
  padding-bottom: 60px;
  padding-left: 19px;
  max-width: 918px;
}

@media screen and (max-width: 482px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}